*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #ebebeb;
}
header{
    width: 100%;
    height: 6vh;
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.img-logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.img-logo img{
    height: 35px;
}
.title-logo{
    color: #5D15D1;
    font-size: 1.5em;
    margin-left: 10px;
}



#capa-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/bahia.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
}
.area-form{
    width: 100%;
    height: 85%;
    background-color: #fff;
}
.title-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100%;
    text-align: center;
    font-size: 17px;
    background-color: #5D15D1;
    color: #fff;

}
.title-form h2::before{
    content: "";
    background-image: url('../assets/aviao.png');
    background-size: 20px 20px;
    transform: rotate(-45deg);
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    
}
.content-form{
    padding: 30px 20px;
}
.content-form h3{
    font-size: 24px;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.label-input{
    margin: 10px 0;
    font-size: 18px;
}
.user-input, .user-input-ida, .user-input-volta,
.user-input-origem, .user-input-destino{
    height: 35px;
    padding: 5px;
}
.dt-ida, .dt-volta, 
.origem, .destino{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
}
.ida-volta, .orig-dest{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.origem{
    display: flex;
    flex-direction: column;
}
.opcoes-cama label,
.pref-hospedagem label{
    margin-right: 70px;
}

button{
    margin-top: 50px;
    padding: 10px;
    background-color: #5D15D1;
    color: #fff;
    font-size: 20px;
}



#ofertas, #explorar{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.title-ofertas, .title-ofertas h3,
.title-explorar, .title-explorar h3{
    margin: 15px 0;
}
.container-imagens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 350px;
}
.left-card{
    width: calc(100%/2 - 20px);
    height: 100%;
    position: relative;
}
.cap-img-oferta{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.7);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-card img{
    width: 100%;
}
.right-card{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100%/2);
    margin-left: 10px;
}
.right-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
figure{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100%/2 - 10px);
    margin: 1px 5px;
}
.img-oferta{
    position: relative;
}

.right-card-natureza{
    width: 50%;
    height: 100%;
}
.right-card-natureza img{
    width: 100%;
    height: 100%;
}
.figure-natureza{
    width: 100%;
    height: 100%;
}
.cap-img-natu{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 80px;
    width: 100%;
    background-color: #fff;
}

footer{
    height: 20vh;
    background-color: #5D15D1;
    padding: 10px 0;
}
.contato img,
.r-sociais img{
    width: 20px;
    height: 20px;
}
.contato,
.r-sociais{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #fff;
}
.contato h3,
.r-sociais h3{
    margin: 15px 0;
}
.container-bot{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){
    .left-card{
        width: 100%;
    }
    .right-card{
        width: 100%;
    }
    figure{
        width: 100%;
    }
    .right-card img{
        width: 100%;
    }
    .container-imagens{
        display: flex;
        flex-direction: column;
    }
    .right-card-natureza{
        width: 100%;
    }
    footer{
        height: 35vh;
    }
    .container-bot{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 540px){
    .ida-volta, .orig-dest{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .dt-ida, .dt-volta{
        width: 100%;
    }
    .user-input-ida{
        width: 100%;
    }
    #capa-form{
        height: 1070px;
    }
}
